body,form,p,ul,li,a{margin:0;padding:0;}

#mainDiv{height:707px;width:1000px;background:url(img/registerBg.jpg) 0 0 no-repeat;margin:0 auto;}
#mainCont{padding-top:235px;margin-left:559px;}
#mainCont form{color:#353535;font-family:Microsoft YaHei;font-size:18px;}

#mainCont form input{vertical-align:middle;margin-left:12px;padding-left:10px;}
#mainCont form input{background:url(img/opacity0.png) 0 0 repeat-x;width:243px;height:38px;border:0;border-radius:5px;border:1px solid #9b9b9b;}
#mainCont form div{margin-bottom:15px;}

#mainCont form div:nth-child(3){margin-left:-16px;}

/* webkit 浏览器*/
#mainCont form input::-webkit-input-placeholder { color:#afafaf;font-size:15px;font-family:Microsoft YaHei;font-weight:bold;}
/* 火狐浏览器 */
#mainCont form input::-moz-placeholder { color:#afafaf;font-size:15px;font-family:Microsoft YaHei;font-weight:bold;}

#mainCont button{width:113px;height:39px;border:0;opacity:0.7;color:#fff;font-size:18px;font-family:Microsoft YaHei;border-radius:2px;margin-top:8px;}
#pwdEnter{background:#469b9e;opacity:0.7;margin-left:73px;}
#cancelEnter{background:#6b6b6b;opacity:0.7;margin-left:20px;}
