#mainDiv{height:707px;width:1000px;background:url(img/logInBg.jpg) 0 0 no-repeat;margin:0 auto;}
#mainCont{padding-top:312px;height:225px;}

#mainCont form{margin-left:146px;margin-top:47px;font-size:18px;font-family:Microsoft YaHei;}
#mainCont form input{background:#a0c3bc;width:243px;height:38px;border:0;opacity:0.5;border-radius:5px;margin-right:52px;margin-bottom:84px;margin-left:12px;}
#mainCont button{width:196px;height:39px;border:0;opacity:0.7;color:#fff;font-size:18px;font-family:Microsoft YaHei;border-radius:2px;}
#mainCont a{color:#fff;text-decoration:none;}
#mainCont  form a{color:#f00;text-decoration:none;margin-left:-52px;font-size:10px;}
#logInEnter{margin-left:273px;background:#499ea1;opacity:0.8;}
#registerEnter{margin-left:28px;background:#676767;}
body,form,p,ul,li{margin:0;padding:0;}